@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Whisper&display=swap');

* {
  cursor: none !important;
}

body {
  margin: 2px;
  padding: 10px;
  max-width: 100vw;
  border-radius: 10px;
  pointer-events: none;
  scroll-behavior: none;
}

.cursor {
  z-index: 1000;
  width: 20px;
  height: 20px;
  background: #fff;
  position: fixed;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  background: linear-gradient(140deg, #d2b0ff, #8e62c4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

h1 {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 17em;
  color: #fff;
}

h2 {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #d2b0ff,
    0 0 20px #d2b0ff,
    0 0 30px #d2b0ff,
    0 0 40px #d2b0ff;
}

.sign {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #d2b0ff,
    0 0 20px #d2b0ff,
    0 0 30px #d2b0ff,
    0 0 40px #d2b0ff;
}

.extras {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye {
  margin: 20px 5px;
  width: 180px;
  height: 190px;
  background: white;
  border-radius: 50%;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: inset -1px -1px 20px rgba(0, 0, 0, 0.2),
    0px 0px 10px rgba(142, 98, 196, 0.5);
}

.eyelid {
  position: absolute;
  inset: 0;
  background: white;
  transform: scaleY(0);
  transform-origin: center;
  pointer-events: none;
}

.pupil {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: 0.4em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  height: auto;
  width: 100%;
  margin-bottom: 40px;
}