@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+SC:wght@100..900&family=Whisper&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
:root {
  cursor: none !important;
}

body {
  max-width: 100%;
  max-height: 100%;
  background: linear-gradient(140deg, #d2b0ff, #8e62c4);
  font-family: "Noto Sans SC", sans-serif;
  border-radius: 10px;
  pointer-events: none;
}

.cursor {
  z-index: 1000;
  width: 20px;
  height: 20px;
  background: #fff;
  position: fixed;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.hero {
  width: auto;
  height: auto;
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
  z-index: 1000;
}

.hero-text {
  margin: 12em 0;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  position: absolute;
  top: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #d2b0ff,
    0 0 20px #d2b0ff,
    0 0 30px #d2b0ff,
    0 0 40px #d2b0ff;
}

h1 {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 17em;
  color: #fff;
}

h2 {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #d2b0ff,
    0 0 20px #d2b0ff,
    0 0 30px #d2b0ff,
    0 0 40px #d2b0ff;
}

.socials {
  height: 2em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.socials i {
  margin: 0 10px;
}

.extras-l,
.extras-r {
  height: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
}

.extras-l {
  left: -13em;
  transform: rotate(-90deg);
}

.extras-r {
  right: -13em;
  transform: rotate(90deg);
}

.extras-l span,
.extras-r span {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extras-l hr,
.extras-r hr {
  width: 150px;
  border: 0.5px solid #fff;
}

.eye {
  margin: 20px 5px;
  width: 180px;
  height: 190px;
  background: white;
  border-radius: 50%;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: inset -1px -1px 20px rgba(0, 0, 0, 0.2),
    0px 0px 10px rgba(142, 98, 196, 0.5);
  animation: Blink 21s infinite;
}

.eyelid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  /* Start open */
  background: #fff;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

.pupil {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pupilBlink 11s infinite;
}

@keyframes Blink {

  0%,
  95%,
  100% {
    transform: scaleY(1);
  }

  97% {
    transform: scaleY(0.1);
  }
}

@keyframes pupilBlink {

  0%,
  95%,
  100% {
    opacity: 1;
  }

  97% {
    opacity: 0;
  }
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: 0.4em;
  color: rgb(255, 255, 255);
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.projects {
  height: auto;
  width: 100vw;
  padding: 5em 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  height: auto;
  width: 100%;
  padding: 1em 2em;
  margin-bottom: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.stars {
  color: #fff;
  position: absolute;
  font-size: 2em;
}

.star {
  opacity: 0;
  scale: 1;
  position: absolute;
  transform: rotation(0deg);
}

.stars .star:nth-child(1) {
  top: -200px;
  left: -500px;
}

.stars .star:nth-child(2) {
  top: 200px;
  left: 500px;
  animation-delay: 5s;
}

.stars .star:nth-child(3) {
  top: 100px;
  left: 100px;
}

.stars .star:nth-child(4) {
  top: 65px;
  left: -150px;
}

.stars .star:nth-child(5) {
  top: -100px;
  left: 440px;
  transform: translate(-50%, -50%);
}

.stars .star:nth-child(6) {
  top: 200px;
  left: -440px;
  transform: translate(-50%, -50%);
}