body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye {
  width: 200px;
  height: 200px;
  margin: 0 30px;
  background: white;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -1px -1px 20px #555;
  overflow: hidden;
}

.eye.blink {
  animation: blink 0.15s ease-in-out;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.1);
  }

  100% {
    transform: scaleY(1);
  }
}

.pupil {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  transition: transform 0.05s linear;
}

.vines {
  position: absolute;
  inset: 0;
}

.vine {
  stroke: #cfeff3;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

  animation: growVine 2.5s ease-out forwards;
}

@keyframes growVine {
  to {
    stroke-dashoffset: 0;
  }
}

.flower {
  transform-origin: center;
  transform: scale(0.6);
  opacity: 0;

  animation: bloom 1s ease-out forwards;
  animation-delay: 2.2s;
  /* after vines */
}

@keyframes bloom {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.vine.thin {
  stroke-width: 2;
  opacity: 0.7
}

.vine.thick {
  stroke-width: 4
}